In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
import pickle

In [2]:
data = pd.read_csv('Projectdataset.csv')

In [3]:
data.head(5)
dataset=data.copy()

In [4]:
Orignaldataset=dataset.copy()
Orignaldataset.head()

,SNO,Temperature,Humidity(%),Wind(m/h),Soil_moisture,Rainfall(cm),Sunshine,Result,prediction
0,1,28.5,49.0,5.80,83.7,9.8,1.4,2,no
1,2,21.0,88.9,7.10,93.4,135.0,0.0,8,highly yes
2,3,22.0,89.1,7.00,94.8,149.0,0.3,8,highly yes
3,4,22.3,91.1,6.95,94.9,150.0,1.0,8,highly yes
4,5,22.8,90.0,6.90,93.0,164.0,0.6,9,highly yes

In [6]:
#data=data.drop(['Crop_age'],axis=1)
data=data.drop(['SNO','prediction'],axis=1)

In [7]:
data.head(5)

,Temperature,Humidity(%),Wind(m/h),Soil_moisture,Rainfall(cm),Sunshine,Result
0,28.5,49.0,5.80,83.7,9.8,1.4,2
1,21.0,88.9,7.10,93.4,135.0,0.0,8
2,22.0,89.1,7.00,94.8,149.0,0.3,8
3,22.3,91.1,6.95,94.9,150.0,1.0,8
4,22.8,90.0,6.90,93.0,164.0,0.6,9

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(data)

StandardScaler()

In [11]:
data.head()

,Temperature,Humidity(%),Wind(m/h),Soil_moisture,Rainfall(cm),Sunshine,Result
0,28.5,49.0,5.80,83.7,9.8,1.4,2
1,21.0,88.9,7.10,93.4,135.0,0.0,8
2,22.0,89.1,7.00,94.8,149.0,0.3,8
3,22.3,91.1,6.95,94.9,150.0,1.0,8
4,22.8,90.0,6.90,93.0,164.0,0.6,9

In [12]:
scaler.transform(data)

array([[ 1.4470327 , -1.50721658, -0.28635893, ..., -1.35535819,
        -0.58247601, -1.13330158],
       [-0.20490731,  0.37809281,  0.47327489, ..., -0.04234958,
        -1.22601896,  1.08841835],
       [ 0.01535136,  0.38754298,  0.41484152, ...,  0.10447247,
        -1.0881169 ,  1.08841835],
       ...,
       [ 0.6541015 ,  0.66632306,  0.53170826, ...,  1.16368868,
         0.15300164,  0.34784504],
       [ 0.67612736,  0.38281789,  0.53170826, ...,  1.25807428,
         0.10703429,  0.34784504],
       [ 0.4558687 ,  0.66632306,  0.29797478, ...,  1.36294717,
         0.06106693,  0.34784504]])

In [13]:
from sklearn.model_selection import train_test_split
x=data.drop(["Result"] ,axis=1)
y=data["Result"]
x.head()

   Temperature  Humidity(%)  Wind(m/h)  Soil_moisture  Rainfall(cm)  Sunshine
0         28.5         49.0       5.80           83.7           9.8       1.4
1         21.0         88.9       7.10           93.4         135.0       0.0
2         22.0         89.1       7.00           94.8         149.0       0.3
3         22.3         91.1       6.95           94.9         150.0       1.0
4         22.8         90.0       6.90           93.0         164.0       0.6

In [14]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30)


# Random forest

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report,confusion_matrix
rfc=RandomForestClassifier(n_estimators=100)
rfc.fit(x,y)
#rfc.fit(x_train,y_train)

RandomForestClassifier()

## Save the model

In [17]:
import joblib
joblib.dump(rfc, 'model.pkl')
print("Model dumped!")

Model dumped!

## Load the model that was saved

In [18]:
rfc = joblib.load('model.pkl')

## Saving the data columns from training

In [19]:
model_columns = list(x.columns)
joblib.dump(model_columns, 'model_columns.pkl')
print("Models columns dumped!")

Models columns dumped!